.content-main__cards--item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 2fr 1fr 4fr 2fr;
    grid-template-areas:
            'image'
            'title'
            'date'
            'detail'
            'button';
    grid-gap: 5px;
    padding: 10px;
    margin: 5px 10px;
    border: 2px solid green;
    border-radius: 5px;
}

.content-main__cards--item__image{
    grid-area: image;
}

.content-main__cards--item__image > img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.content-main__cards--item__title{
    grid-area: title;
    color: #0e623a;
    font-size: 2em;
}

.content-main__cards--item__date{
    grid-area: date;
    color: #169c5c;
    font-size: .9em;
    border-bottom: 1px solid #062b19;
    border-top: 1px solid #062b19;
}

.content-main__cards--item__detail{
    grid-area: detail;
    color: #052013;
    font-size: 0.7em;
}

.content-main__cards--item__button{
    grid-area: button;
    align-self: center;
    width: 100%;
}

.content-main__cards--item__button > a > button{
    width: 100%;
    min-height: 50px;
    color: #0e623a;
    background-color: #eaeaea90;
    border: 1px solid #0e623a;
    border-radius: 5px;
}

@media (min-width: 600px){
    .content-main__cards--item{
        grid-template-columns: 2fr 3fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
                'image title button'
                'image date button'
                'image detail button'
                'image detail button';
    }

    .content-main__cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content-main__cards--item__image{
        padding: 10px;
    }

    .content-main__cards--item__image > img{
        height: 100%;
        width: 100%;
    }

    .content-main__cards--item__date{
        display: flex;
        align-items: center;
    }
}
