.content-main.blog{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog-main_image{
    border-bottom: 1px solid #0e623a;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog-main_image > img{
    border-radius: 5px 5px 0 0;
    height: 100%;
    width: 100%;
}

.blog-post_detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blog-post_blog > p{
    padding: 10px;
    border: 1px solid #062b19;
    border-radius: 5px;
    background-color: #eaeaea50;
}

.blog-post_blog > blockquote{
    margin: 10px 30px 10px 50px;
    padding: 10px 20px;
    border-left: 5px double #062b19;
}

.blog-post_shear{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #062b19;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
}

.blog-author{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.blog-author__detail{
    border-left: 1px solid #062b19;
    padding-left: 10px;
    margin-left: 10px;
}

.blog-author__detail > h3 > b{
    font-weight: bold;
}

.blog-author__detail > h3 > i{
    font-style: italic;
}

.blog-author__avatar > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

@media (min-width: 600px) {
    .content-main.blog{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 2fr 100px auto;
        grid-template-areas:
            'image image image author'
            'detail detail detail author'
            'blog blog blog share';
    }

    .blog-main_image{
        grid-area: image;
    }

    .blog-main_image > img{
        border-radius: 10px 10px 0 0;
        height: 100%;
        width: 100%;
    }

    .blog-post_detail{
        grid-area: detail;
    }

    .blog-post_detail > h1{
        font-size: 2em;
        padding-bottom: 5px;
    }

    .blog-post_blog{
        grid-area: blog;
    }

    .blog-author{
        grid-area:author;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        border-left: 1px solid #062b19;
        margin-left: 10px;
    }

    .blog-author__detail{
        border-left: 0px;
        padding-top: 10px;
        margin-top: 10px;
    }

    .blog-author__avatar > img{
        height: 100%;
        width: 100%;
    }

    .blog-post_shear{
        grid-area: share;
    }
}