.content-main.blog{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog-main_image{
    border-bottom: 1px solid #0e623a;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.blog-post_blog > p{
    padding: 10px;
    border: 1px solid #062b19;
    border-radius: 5px;
    background-color: #eaeaea50;
}
.blog-post_shear{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #062b19;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
}

.blog-author{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.blog-author__detail{
    border-left: 1px solid #062b19;
    padding-left: 10px;
    margin-left: 10px;
}
.blog-author__detail > h3 > b{
    font-weight: bold;
}
.blog-author__detail > h3 > i{
    font-style: italic;
}

.blog-author__avatar > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}