/* lib */
@import 'lib/_normalize.css';
@import 'lib/_hover.css';

/* base */
@import 'base/_reset.css';
@import 'base/_base.css';


/* grid */
@import 'layout/_grids.css';
@import 'card.css';

.content-header__navbar{
    display: flex;
    justify-content: space-between;
}
.content-header__navbar__tabs__item{
    display: inline;
    padding: 5px 10px;
}
.content-header__navbar__logo--link__image{
    height: 25px;
    width: 75px;
}

.content-footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.content-footer > h5{
    font-size: .8em;
}
/*.content-footer__social{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
/*.content-footer__social > i {*/
/*    padding: 0 5px;*/
/*    margin: 5px;*/
/*}*/