/* lib */
@import 'lib/_normalize.css';
@import 'lib/_hover.css';

/* base */
@import 'base/_reset.css';
@import 'base/_base.css';


/* grid */
@import 'layout/_grids.css';

.content-header__navbar{
    display: flex;
    justify-content: space-between;
}
.content-header__navbar__tabs__item{
    display: inline;
    padding: 5px 10px;
}
.content-header__navbar__logo--link__image{
    height: 25px;
    width: 75px;
}