/* lib */
@import 'lib/_normalize.css';
@import 'lib/_hover.css';

/* base */
@import 'base/_reset.css';
@import 'base/_base.css';


/* grid */
@import 'layout/_grids.css';
@import 'layout/_card.css';
@import 'layout/_grid_bolg.css';

.content-header__navbar{
    display: flex;
    justify-content: space-between;
}
.content-header__navbar__tabs__item{
    display: inline;
    padding: 5px 10px;
}
.content-header__navbar__logo--link__image{
    height: 25px;
    width: 75px;
}

.content-footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.content-footer > h3{
    font-size: .8em;
}
